body, html {
  
	margin:0;
	font-family:'helvetica';
	color:white;
	background-size:100%;
	background-image:url("../img/Pittsburgh-Nighttime.jpg");
	background-attachment:fixed;
	
}
#pageWrap{
	display:none;
	padding-top:70px;
}

.content-container {
 padding: 30px 15% 10px 15%;
}

.content {
  /* Put this on top of the blurred layer */
  position: relative;
  z-index: 100;
  padding: 20px;
	height:100%;
	width:100%;
	border:2px solid black;
	border-radius:20px;
	background: rgb(0,38,84); /* for IE */
  background: rgba(0,38,84,0.88); 
	display: inline-block;	
	color:gold;
	font-size:2rem;
}
.standard{
	font-size:1.8rem;
	color:white;
}
.content > a, .content>ul>li>a{
	color:gold;
	font-size:2rem;
}
.content > a:hover{
	text-decoration:underline;
	color:gold;
}
footer{
}